fastapi==0.115.0
uvicorn==0.30.6
python-dotenv==1.0.1

langchain==0.3.7
langchain-community==0.3.7
langchain-google-genai==2.0.1
langchain-huggingface==0.1.2

google-generativeai==0.8.3

faiss-cpu==1.9.0.post1
sentence-transformers==3.2.1
transformers==4.46.2

pandas==2.2.3
pydantic==2.9.2
requests==2.32.3